:root {
	--blood : rgba(230, 16, 16, 1.0);
	--error : rgba(240, 0, 0, 1.0);
	--glass : rgba(255, 255, 255, 0.55);
	--grey : rgba(220, 220, 220, 1.0);
	--lightning : rgba(255, 152, 0, 1.0);
	--light-shadow : rgba(128, 128, 128, 1.0);
	--shadow : rgba(32, 32, 32, 1.0);
	--trace : rgba(0, 0, 0, 0.125);
	--warning : rgba(255, 200, 16, 1.0);
}

body {
	display : flex;
	flex-direction : column;
	font-family : "Roboto", sans-serif;
	font-weight : 300;
	height : 100%;
}

footer {
	background-color : var(--shadow);
	color : white;
	flex-shrink : 0;
	padding : 1rem 2rem 1rem 2rem;
}

html {
	height : 100%;
}

nav {
	border : 1px solid transparent;
	border-bottom-color : var(--trace);
}

noscript img {
	border : none;
}

noscript p {
	margin-top : 1rem;
}

noscript .row {
	background-color : var(--warning);
}

.btn {
	margin-bottom : 1rem;
}

.content {
	flex : 1 0 auto;
}

.display-4 {
	font-family : "UnifrakturMaguntia", cursive;
}

.icon {
	color : var(--warning);
}

.jumbotron-fluid {
	background-color : var(--lightning);
	margin : 0;
	padding : 50vh 2rem 50vh 2rem;
}

.list-group {
	margin : 1rem 0 1rem 0;
}

.navbar-brand {
	font-family : "UnifrakturMaguntia", cursive;
	font-size : 1.5rem;
}

.navbar-nav .icon {
	color : var(--shadow);
}

.nav-link {
	border : 1px solid transparent;
	border-left-color : var(--trace);
}

.nav-link:first-child {
	border-left-color : transparent;
}

.tableauPlaceholder {
	position : relative;
}

.tableauViz {
	display : none;
	width : 100%;
}

.tab-content {
	margin : 1rem 0 1rem 0;
}

.tab-pane h1 {
	margin-bottom : 0;
}

.tab-pane img {
	margin-bottom : 1rem;
}

.viz {
	border : 1px solid var(--lightning);
}

.viz-date {
	color : var(--light-shadow);
	display : block;
}

.viz-description {
	padding-left : 1rem;
	padding-top : 1rem;
}

#viz-01 .tableauViz {
	height : 600px;
}

#viz-02 .tableauViz {
	height : 700px;
}

#viz-03 .tableauViz {
	height : 500px;
}

#viz-04 .tableauViz {
	height : 900px;
}

#viz-05 .tableauViz {
	height : 600px;
}

#viz-06 .tableauViz {
	height : 600px;
}

#viz-07 h1 {
	display : inline;
	min-height : 800px;
}

#viz-08 .tableauViz {
	height : 600px;
}

#viz-09 .tableauViz {
	height : 600px;
}

@media all and (max-width : 400px) {
	.brand {
		display : none !important;
	}

	.nav-link svg {
		height : 24px;
		width : 24px;
	}
}

/* Debug */
div, span {
	/*border : 1px dashed black;*/
}
